<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUEnableSystemProfiling</key>
	<true/>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUScheduledCheckInterval</key>
	<integer>1</integer>
	<key>SUAllowsAutomaticUpdates</key>
	<true/>
	<key>SUFeedURL</key>
	<string>http://ifire.games4mac.de/Updates/iFire.xml</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleHelpBookFolder</key>
	<string>iFire Help</string>
	<key>CFBundleHelpBookName</key>
	<string>iFire Help</string>
	<key>CFBundleIconFile</key>
	<string>iFire</string>
	<key>CFBundleIdentifier</key>
	<string>com.florianbethke.iFire</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>XfireURL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>xfire</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>0.128</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
